{% extends "layout.html" %}

{% block body %}

<h2> Students Dashboard ({{ count }})</h2>

<a href="/register">Add student</a>

<br><br>

<a href="/logout">Logout</a>

<br><br>

<form method="get">
<input type="text" name="q" placeholder="search by name">
<button type="submit">Search</button>
</form>

<br>

<form method="get">

    <button type="submit">All</button>

    {% for s in subjects %}
    <button type="submit" name="subject" value="{{ s.subject }}">{{ s.subject }}</button>
    {% endfor %}

</form>

<br>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<p>{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}

<br>

<table borders="1" cellpadding="8">

    <tr>
        <th>Name</th>
        <th>Subject</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    {% for student in students %}

    <tr>
        <td>{{ student.name }}</td>
        <td>{{ student.subject }}</td>

        <td>
            <a href="/edit/{{ student.id }}">Edit</a>
        </td>

        <td>

            <form action="/delete/{{ student.id }}" method="post" onsubmit="return confirm('Are you sure?')" style="display:inline;">

                <button type="submit">Delete</button>

            </form>

        </td>

    </tr>

{% endfor %}

</table>

{% endblock %}
